# Plantilla de variables de entorno para SmartVivero
# Copia este archivo como .env y coloca tus credenciales reales

DB_USER=neondb_owner
DB_PASSWORD=tu_contraseña_aqui
DB_HOST=ep-silent-sound-aya526wf-pooler.c-5.us-east-2.aws.neon.tech
DB_NAME=neondb
DB_PORT=5432
NEON_DATABASE_URL=postgresql://tu_usuario:tu_contraseña@tu_host.neon.tech/neondb?sslmode=require
